async-timeout==4.0.2
charset-normalizer==2.0.12
multidict==6.0.2
psycopg2==2.9.5
pymorphy2==0.9.1
pymorphy2-dicts-ru==2.4.417127.4579844
pyTelegramBotAPI==2.2.3
requests==2.27.1
SpeechRecognition==3.9.0
vosk==0.3.45
